// !todo separate code to different files
// !todo move all colors to css3 variables

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap&subset=latin-ext');
@import 'var';



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: var(--font);
  padding-top: 83px;

  @media screen and (min-width: $res-medium) {
    overflow: hidden;
    height: 100vh;
    max-height: 100vh;
  }
}

.page-container {
  width: 100%;
  max-width: 100%;
  margin-top: 83px;
  overflow-y: scroll;
  max-height: calc(100vh - 83px);
  .container {
    min-height: calc(100vh - 83px);

    &--flex {
      display: flex;
    }
  }

  @media screen and (min-width: $res-medium) {
    width: calc(100% - 290px);
  }

  @media screen and (min-width: $res-large) {
    width: calc(100% - 390px);
  }


} 

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  position: fixed;
  width: 100%;
  background-color: var(--header-background);
  top: 0;
  z-index: 10;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  @media screen and (min-width: $res-large) {
    padding-left: 2em;
    padding-right: 2em;
  }

  &__logo {
    @include transition-for(transform);

    img {
      height: 63px;
    }

    &:hover {
      transform: scale(1.02);
    }

    &:active {
      transform: scale(0.98);
    }
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-left: 1em;
    font-size: 1.25rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #4a4a4a;
    @include transition-for(color);

    &:hover,
    &:focus {
      color: var(--primary-color);
      outline: none;
    }
  }
}


.mobile-nav {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;

  &--opened {
    display: flex;
  }

  ul {
    list-style: none;
    text-align: center;

    li {
      margin-bottom: 1em;
    }
  }

  // to refactoring
  a {
    color: #fff;
    font-size: 1.5rem;
  }
}

.mobile-menu-button {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  z-index: 10;
  position: relative;
  color: var(--primary-color);

  &:focus {
    outline: none;
  }

  .i-opened {
    color: #fff;
  }

  @media screen and (min-width: $res-medium) {
    display: none;
  }
}

.content {
  display: flex;
  flex-direction: column-reverse;

  @media screen and (min-width: $res-medium) {
    flex-direction: row;
    padding-right: 290px;
  }

  @media screen and (min-width: $res-large) {
    padding-right: 390px;
  }
}

.page {
  flex: 1 1 auto;
}

.home {
  flex: 1 1 auto;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1em;
  min-height: calc(100vh - 83px);

  &::after,
  &::before {
    width: 34px;
    display: block;
    content: "";
    height: 45vh;
    position: absolute;
    right: 13vw;
    top: 30vh;
    border-radius: 17px;
    background-color: var(--date-background);
  }

  &::before {
    right: 17vw;
    top: 5vh;
  }

  &__title {
    color: var(--home-title-color);
    margin-bottom: 0.3em;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    @include transition-for(transform);
  }

  &__link {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    @include transition-for(all);
    background: linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.5) 100%);
    opacity: 0;
    z-index: 5;

    &:hover {
      opacity: 1;

      ~ .home__title {
        transform: translateX(0.5em);
      }

      ~ .home__date {
        color: rgba(255, 255, 255, 1);
      }
    }
  }

  &__date {
    width: 180px;
    position: absolute;
    top: 0;
    right: 1em;
    border-radius: 0 0 90px 90px;
    background-color: var(--date-background);
    padding: 0.5em 0 1em 0;
    font-size: 3rem;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    @include transition-for(all);

    @media screen and (min-width: $res-large) {
      display: flex;
    }

    span {
      font-size: 4rem;
    }
  }
}

.articles {
  background-color: var(--articles-home-background);
  padding: 0.5em 1em;
  display: flex;
  z-index: 6;
  position: relative;
  flex-direction: column;

  @media screen and (min-width: $res-xlarge) {
    flex-direction: row;
  }
}

.article {
  padding: 1em 2em;

  &__title {
    font-size: 1.125rem;
    text-transform: uppercase;
    margin-bottom: 0.4em;
    font-weight: bold;
  }

  &__link {
    color: var(--primary-color);
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__date,
  &__category {
    display: block;
    color: var(--article-meta-color);
    font-size: 0.875rem;

    a {
      color: var(--article-meta-color);
      text-decoration: underline;
      font-weight: bold;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  &__introduction {
    margin-top: 1.5em;
    color: #2c3845;
    font-size: 1rem;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -0.5em;
      left: 0;
      width: 40px;
      height: 4px;
      border-radius: 2px;
      background-color: var(--date-background);
      @include transition-for(width);
    }

    &:hover &::before {
      width: 100%;
    }
  }
}

.sidebar {
  width: 100%;
  background-color: var(--sidebar-background-color);
  min-height: calc(100vh - 83px);

  @media screen and (min-width: $res-medium) {
    width: 290px;
    min-width: 290px;
    position: fixed;
    top: 83px;
    right: 0;
    padding-bottom: 53px;
  }
  @media screen and (min-width: $res-large) {
    width: 390px;
    min-width: 390px;
  }

}

.social {
  display: flex;
  list-style: none;
  justify-content: center;

  li {
    margin: 0 0.5em;
  }

  &__link {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    @include transition-for(background-color);
    background-color: var(--primary-color);
    text-decoration: none;

    &:hover {
      background-color: #2851b5;
    }
  }
}

.events {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0.5em;
  @media screen and (min-width: $res-large) {

  }

  li {
    border-bottom: 1px solid var(--list-event-border-color);

    &:first-of-type {
      border-top: 1px solid var(--list-event-border-color);
    }

    &:not(:last-of-type) {
      margin-bottom: 0.2em;
    }
  }
}

.list-event {
  display: flex;
  align-items: center;
  padding: 0.5em 0.5em 0.5em 0;
  position: relative;
  text-decoration: none;
  @include transition-for(background-color);
  color: #666666;

  &:hover {
    background-color: #fff;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    border-radius: 4px;
    background-color: #dedede;
    left: 0;
    top: 4px;
    bottom: 4px;
  }

  &--work {

    &:hover {
      .list-event__title,
      .list-event__date {
        color: var(--date-background);
      }
    }

    &::before {
      background-color: var(--date-background)
    }
  }

  &--abc {
    &:hover {
      .list-event__title,
      .list-event__date {
        color: #ed705a;
      }
    }

    &::before {
      background-color: #ed705a;
    }
  }

  &__date {
    padding: 0 0.5em;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-direction: column;
    text-transform: uppercase;
    color: #ababab;
    width: 90px;
    @include transition-for(color);

    span {
      font-size: 1.5rem;
    }
  }

  &__data {
    color: #666666;
    display: flex;
    flex-direction: column;

    span {
      font-size: 0.875rem;
    }
  }

  &__title {
    font-size: 1.125rem;
    @include transition-for(color);
  }
}

.news-page {
  display: flex;
  min-height: 100%;
  flex-direction: column-reverse;
  width: 100%;
  
  @media screen and (min-width: $res-xlarge) {
    flex-direction: row;
  }
}

.help-bar {
  background-color: #f7f9f8;
  width: 100%;
  min-width: 350px;
  padding: 1em;
  height: 100%;

  @media screen and (min-width: $res-xlarge) {
    width: 350px;
  }
}

// to refactoring - need use classes
.news-list {
  padding: 1em;
  flex: 1;

  > ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    li {
      padding: 1em;
      width: 100%;

      @media screen and (min-width: $res-large) {
        width: 50%;
      }
    }
  }
}

.page {
  &__image {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
  }
}

.page-title {
  padding: 0 0.5em;
  margin-bottom: 0.5em;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    border-radius: 4px;
    background-color: var(--date-background);
    position: absolute;
    bottom: -6px;
  }
}

.footer {
  padding: 0.5em;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-background);
  z-index: 5;
  text-align: center;
  position: relative;

  &__link {
    color: var(--footer-color);
    @include transition-for(color);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 0.75rem;
    margin: 0 1em;

    &:hover,
    &:focus {
      text-decoration: underline;
      color: var(--footer-hover-color);
    }
  }
}

.carousel  {
  max-width: calc(100vw - 740px);
}

.reveal-image {
  position: relative;
  overflow: hidden;
  max-width: 100%;

  &::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f0f2f6;
    transform: translateX(-100%);
    animation: secondaryImageOverlayIn 0.6s 0s, secondaryImageOverlayOut 0.6s 0.6s;
    animation-fill-mode: both;
  }

  &.category-1::after {
    background-color: #eeb413;
  }

  &.category-2::after {
    background-color: #3368e8;
  }

  &.category-3::after {
    background-color: #ff0000;
  }

  &.category-4::after {
    background-color: #5d5e6f;
  }

  img {
    animation: fadeIn 0s 0.6s;
    animation-fill-mode: backwards;
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes secondaryImageOverlayIn {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes secondaryImageOverlayOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.perfect-scrollbar {
  height: calc(100vh - 83px);
  overflow-y: auto;
  width: 100%;
  overflow-x: hidden;
}
