@import 'var';

.news-list-grid {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
        width: 50%;
    }
}

.news-news {
  width: 100%;

  &__thumbnail {
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    max-width: 100%;
    flex-wrap: wrap;
    height: 200px;
    position: relative;
    opacity: 0.80;
    @include transition-for(opacity);

    &:hover {
      opacity: 1;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

  }

  &__data {
    position: relative;
    margin: 0.5em 0;
    display: flex;
    padding: 1em 0;
    color: #696969;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 4px;
      top: 4px;
      bottom: 4px;
      left: 0;
      border-radius: 4px;
      background-color: #dedede;
    }

    &.category-1::before {
      background-color: #eeb413;
    }

    &.category-2::before {
      background-color: #3368e8;
    }

    &.category-3::before {
      background-color: #ff0000;
    }

    &.category-4::before {
      background-color: #5d5e6f;
    }

    > div {
      font-size: 14px;
    }
  }

  &__date {
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    color: #a9a9a9;

    span {
      font-size: 1.5rem;
    }
  }

  &__title {
    font-size: 1.125rem;

    &.category-1 {
      color: #eeb413;
    }

    &.category-2 {
      color: #3368e8;
    }

    &.category-3 {
      color: #ff0000;
    }

    &.category-4 {
      color: #5d5e6f;
    }


  }

  &__image {
    object-fit: cover;
    max-width: 100%;
  }

  &__introduction {
    margin-bottom: 1em;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    background-color: var(--primary-color);
    color: #fff;
    text-transform: uppercase;
    height: 32px;
    border-radius: 16px;
    padding: 0 1.5em;
    text-align: center;
    line-height: 32px;
    font-size: 0.875rem;
    text-decoration: none;
    @include transition-for(background-color);

    &:hover,
    &:focus {
      background-color: #2348a0;
    }
  }
}
